
  /* GRID SPECIFIC */
.container{
                /*5 X 5 GRID */
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(5,minmax(30px,auto));
  margin: 0 px;
  border: 3px solid rgb(251, 255, 0);
  width: 100%;
  height: 100%;
  
  
}
.container div{
  border: 3px solid rgb(255, 0, 0);
}
.first{ grid-column: 1/6; grid-row: 1/2; } 
.second{  grid-column: 1/2; grid-row: 2/3;}
.third{ grid-column: 2/4; grid-row: 2/5;}
.fourth{grid-column: 4/6; grid-row: 2/5;}
.last{ grid-column: 1/6; grid-row: 5/6; }
/*
.fifth{}
.sixth{}
*/
.sidebar{
  float: left;
}
    /* FOUNDATIONAL TAGS-CLASSES*/
main{
  float: right;
  
}
nav {
  display: block;
  border: 3px solid rgb(0, 255, 191);
  
}
header{
/*  background-color:rgb(44, 58, 78);*/
background-color:rgb(83, 52, 196);
  color: rgb(68, 202, 113);
  padding: 1px;  
}

footer{
  background-color:rgb(44, 58, 78);
  color: rgb(99, 1, 1);
  padding: 1px;
  clear: both;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid rgb(0, 255, 191);
}
td {
  padding: 5px;
}
    /*UNIVERSAL SELECTOR */
* {
  font-family: Verdana, Arial, sans-serif;
  background-color:rgb(36, 89, 92);
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
}
 a{
  color: #00ff15;
 }

    /* CUSTOM STUFF*/
.text-center {
  text-align: center;
}
.dropdown {
  position: relative;
  display: inline-block;
}
    .dropdown-content {
      display: none;
      position: absolute;
      background-color:rgb(20, 25, 32);
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(51, 216, 194, 0.596);
      padding: 1px;
      z-index: 1;
      
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    .judas {
      background-image: url('../media/images-videos/judas2.jpg');
    }

    /* WE GOIN RESPONSIVE 
    TO DO: collum fixing and html5 format "style" fixes
    https://www.youtube.com/watch?v=WiAKOvgn3rU dog*/
    /*https://www.youtube.com/watch?v=4CTSf1QRk9w bottom gear*/
    /*https://www.youtube.com/watch?v=0JcM8jLAfdo FULL*/


@media screen and (max-width:768px) {
  /*tablet*/

  header{background-color: rgb(0, 215, 243);}

}

@media screen and (max-width:600px) {
  /*phone*/

  header{background-color: lightblue;}
  .first{ grid-column: 1/6; grid-row: 1/2; } 
  .second{  grid-column: 1/6; grid-row: 2/3;}
  .third{ grid-column: 1/6; grid-row: 3/5;}
  .last{ grid-column: 1/6; grid-row: 5/6; }
}
